<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banking_PL.Properties.Settings.UI_AccountConnectionString"
            connectionString="Data Source=DESKTOP-JES9DPP\SQLEXPRESS;Initial Catalog=UI_Account;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Banking_PL.Properties.Settings.bank12ConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=bank12;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>